.main-title{
    margin-left: 40px;
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to left, #264075, #6d8fc4);
    color: transparent;
    background-clip: text;
  -webkit-background-clip: text;
}

.options-div li{
    list-style-type: none;
    padding: 15px;
    margin: 15px;
    /*width: 20%;*/
    border-radius: 5px;
    background-color: #F5F9FF;
    box-shadow: #d8d8d8 0px 0px 05px 0px;
    background-color: #eaf2fd;
}

.options-div li:hover{
    background-color: #d4d4d4;
}

.options-div li a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
    color: #000;
    padding: 8px 16px;
}

.options-div li button{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: block;
    color: #000;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}